.authenticate-form-container {
  flex: 1;
  padding: 70px 30px;
  display: flex;
  justify-content: center;
}

.authenticate-form-container__wrapper {
  width: 100%;
  max-width: 540px;
}

.authenticate-form-container__heading-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  color: rgb(40, 44, 64);
}

.authenticate-form-container__heading-msg {
  margin-top: 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: rgba(40, 44, 64, 0.6);
}

.authenticate-form-container__form {
  margin-top: 40px;
}

.authenticate-form-container__form__inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.authenticate-form-container__form-cta {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.authenticate-form-container__form-cta__remember-me {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  color: rgba(130, 134, 154, 0.6);
}

.authenticate-form-container__form-cta__remember-me__checkmark {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  cursor: pointer;
}

.authenticate-form-container__form-cta__remember-me__checkmark.checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background: #f0ae4b;

  border-radius: 10px;
  cursor: pointer;
}

.authenticate-form-container__form-cta__forgot-password {
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  color: #f0ae4b;
  cursor: pointer;
}

.authenticate-form-container__form__submit-btn {
  margin-top: 50px;
  width: 100%;
  height: 55px;
  border: 0;
  background: linear-gradient(180deg, #ffb648 0%, #fdc064 100%);
  border-radius: 10px;
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.15));
  /* text */
  font-weight: 600;
  font-size: 15px;
  line-height: 110%;
  color: #ffffff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);

  /* cursor */
  cursor: pointer;
}

.authenticate-form-container__form__other-options {
  margin-top: 25px;
}

.authenticate-form-container__form__other-options__msg {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  /* textz */
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  color: #b4b6c2;
}

.authenticate-form-container__form__other-options__msg::before,
.authenticate-form-container__form__other-options__msg::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 2px;
  background-color: rgba(196, 196, 196, 0.5);
}

.authenticate-form-container__form__other-options__btns {
  margin-top: 25px;
  display: flex;
  gap: 25px;
}

.authenticate-form-container__form__other-options__steam-btn,
.authenticate-form-container__form__other-options__vk-btn {
  border: 0;
  height: 60px;
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
  cursor: pointer;
}

.authenticate-form-container__form__other-options__steam-btn {
  flex-grow: 3;
  background: #373c56;
  /* display */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  /* text */
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  color: #ffffff;
}

.authenticate-form-container__form__other-options__vk-btn {
  flex-grow: 2;
  background: #7bb4f8;
}

.authenticate-form-container__form-switch {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f0ae4b;
  font-weight: 600;
  font-size: 15px;
  line-height: 110%;
  cursor: pointer;
}

.authenticate-form-container__form-switch::before,
.authenticate-form-container__form-switch::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 2px;
  background-color: rgba(240, 174, 75, 0.5);
}

@media screen and (min-width: 730px) {
  .authenticate-form-container__form-switch {
    display: none;
  }
}
